<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>about me</title>
    <style media="screen">
      main{
        width: 1000px;
        margin: 0 auto;
      }
      h1{
        text-align: center;
      }
      p{
        font-size: 15px;
        line-height: 20px;
      }
    </style>
  </head>
  <body>
    <main>
    <h1>About Me</h1>
    <p>Master student in Information Technology and Management at UT Dallas, with the concentration in Business Intelligence & Data Analysis.
      <br>MCSA: SQL Server 2012/2014 - Certified.
      <br>Worked on projects with relational database design, Java-based software design, SAS programming.
      <br>One year Information System lab tutor experience, helping students with MS Excel, MS Access, and SQL Server
      <br>Intern experience in database administration and data analysis
      <br>Full-time experience in data analyst and SQL developer
    </p>
    </main>
  </body>
</html>
