<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>testimonials</title>
    <style media="screen">
      h1{
        text-align: center;
      }
      main{
        width: 500px;
        margin: 0 auto;
      }
      div{
        margin-top: 50px;
      }
      p{
        font-size: 15px;
        line-height: 20px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Testimonials</h1>
      <div>
        <p>"The best money I ever spent was hiring Brendon to Create my Website！"</p>
      </div>
      <div>
        <p>Brandan's projects make the world a better place.</p>
      </div>
    </main>
  </body>
</html>
